
html {
  height: 100%;
}

body {
  background-color: #333333 !important;
}

header {
  background-color: #991E33 !important;
}

footer{
  padding-top: 10px;
}

form{
  color: #CECECE;
  font-weight: bold;
}

h1{
  color: #9E9E9E;
}

h3{
   color: #9E9E9E;
}

#UMSL {
  color: white;
}

#navigation{
    background-color: #991E33 !important;
    color: #9E9E9E;
}

#homediv{
  height: 450px;
  background-image: url("/project2/img/back.jpg");
  background-repeat: no-repeat;
  background-size: 500px 500px;
  opacity: 0.5;
}

#home{
  color: #9E9E9E;
}

#footer1 {
   position:fixed;
   height:30px;
   width:100%;
   bottom:0px;
   background:#991E33;
}

#div1 {
  width: 100px;
  height: 100px;
  background-color: red;
  -webkit-animation-name: example; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
  animation-name: example;
  animation-duration: 4s;
}

#codespace {
    box-align: center;
    text-align: center;
    font-size: 17.6px;
    width:500px;
    height:150px;
    background:black;
    color: white;
/*    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif*/
}

#compile {
    background-color: #4CAF50;
    box-align: center;
    border: none;
    color: white;
    padding: 12px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }
#accumulator {
    box-align: center;
    font-size: 15px;
    color: white;
    background: black;
    width: 500px;
    height: 370px;
}

  #result{
    box-align: center;
    font-size: 15px;
    color: white;
    background: black;
    width: 500px;
    height:100px;
}

.errorColor {
  background-color: red;
}

.column {
    float: left;
    width: 33.33%;
    height: 100px;
    background-color: #991E33;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    background-color: #991E33;
    display: table;
    clear: both;
}

.navbuttons{
  color: white;
}

.hometext{
  color: white;
  font-weight: bold;
}

.confirmtext{
  color: white;
  font-weight: bold;
}
